@model IEnumerable<Product>
@{
    ViewBag.Title = "Product List";
}

    <h1 class="text-center">Product List</h1>
<a asp-action="Create" asp-controller="Product" class="btn btn-primary">Create New Product</a>
    <table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Price</td>
            <td>Image</td>
            <td>Details</td>
                <td>edit</td>
                <td>delete</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td><img src="@product.Path" alt="NoImage" height="50" width="50"/></td>
                <td><a asp-action="Details" asp-controller="Product" asp-route-id="@product.Id" class="btn btn-info">Details</a></td>
                <td><a asp-action="Update" asp-controller="Product" asp-route-id="@product.Id" class="btn btn-info">Update</a></td>
                <td><a asp-action="Delete" asp-controller="Product" asp-route-id="@product.Id" class="btn btn-danger">Delete</a></td>
            </tr>
        }
        </tbody>
    </table>


    @* @section Scripts{
    <script src="~/lib/bootstrap/js/bootstrap.esm.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.esm.js"></script>
    } *@